---
import { Markdown } from "astro/components";
import BaseLayout from "@layouts/BaseLayout.astro";
const { title, description } = {
  title: "About",
  description: "About Astro",
};
---

<BaseLayout {title} {description}>
  <div class="mb-2 text-center">
    <h1 class="text-2xl">{title}</h1>
    <p class="italic">{description}</p>
  </div>
  <article class="prose-slate dark:prose-invert mx-auto">
    <Markdown>
      About me?! the site?! lot os stuff?!

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aliquid modi fugit ad earum dicta, ipsa incidunt assumenda ab, sunt accusamus at sequi velit asperiores aliquam. Ea consectetur ex aut.
    </Markdown>
  </article>
</BaseLayout>
