---
// Layout
import BaseLayout from "@layouts/BaseLayout.astro";
// Style Imports
import "../styles/global.css";
import "../styles/home.css";
// Component Imports
import Tour from "../components/Tour.astro";
import SvelteCounter from "../components/SvelteCounter.svelte";
import { Picture } from "astro-imagetools/components";

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = "My Astro Site";
let description = "My Astro Site";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout {title} {description}>
  <div class="mb-2 text-center">
    <img
      class="mx-auto"
      width="60"
      height="80"
      src="/assets/logo.svg"
      alt="Astro logo"
    />
    <h1 class="text-2xl">{title}</h1>
    <p class="italic">{description}</p>
  </div>
  <Tour />
  <div class="mx-auto py-8 max-w-5xl">
    <Picture
      src="/public/assets/big-background.png"
      alt="A nice rendered image"
      placeholder="dominantColor"
    />
  </div>

  <!--

		You can also use imported framework components directly in your markup!
		
		Note: by default, these components are NOT interactive on the client.
		The `:visible` directive tells Astro to make it interactive.
		
		See https://docs.astro.build/core-concepts/component-hydration/ 

		-->

  <SvelteCounter client:visible />
</BaseLayout>
