---
const { title, description } = Astro.props;
---

<article>
  <div class="mb-2 text-center">
    <h1 class="text-2xl">{title}</h1>
    <p class="italic">{description}</p>
  </div>
  <div class="prose dark:prose-invert mx-auto first-line:uppercase first-line:tracking-widest
  first-letter:text-7xl first-letter:font-bold 
  first-letter:mr-3 first-letter:float-left">
    <slot />
  </div>
</article>
