---
import ThemeSwitchButton from "@components/ThemeSwitchButton/ThemeSwitchButton.astro"

const links = [
  {
    label: 'About',
    url: '/about',
  },
  {
    label: 'Blog',
    url: '/blog',
  },
];

const currentPage = Astro.canonicalURL.pathname.slice(0,-1);
---
<header
  class="mb-4 py-2 grid grid-cols-[minmax(1.2rem,_1fr)_minmax(auto,65ch)_minmax(1.2rem,1fr)] bg-slate-100 dark:bg-slate-600 text-text"
>
  <nav class="my-auto col-start-2 flex flex-row items-center">
    <div>
      <a href="/" aria-current={currentPage === "" ? "page":"false"}>Home</a>
    </div>
    <ul class="ml-auto">
        {links.map(link => (
          <li class="inline-block ml-3">
            <a href={link.url} aria-current={currentPage === link.url ? "page" : "false"}>
            {link.label}
            </a>
          </li>
        ))}
    </ul>
    <div class="ml-3 flex">
      <ThemeSwitchButton/>
    </div>
  </nav>
</header>

<style>
a[aria-current="page"] {
  @apply border-b-2 border-slate-500
}
a:hover {
  @apply bg-yellow-100
}
:global(.dark) a:hover {
  @apply bg-yellow-600
}
a {
  @apply p-1
}
</style>