---
const links = [
  {
    label: 'Home',
    url: '/',
  },
  {
    label: 'About',
    url: '/about',
  },
  {
    label: 'Blog',
    url: '/blog',
  },
];
---
<header
  class="mb-4 py-2 grid grid-cols-[minmax(1.2rem,_1fr)_minmax(auto,65ch)_minmax(1.2rem,1fr)] bg-slate-100 "
>
  <nav class="col-start-2 flex flex-row">
    <a href="/">Home</a>
    <ul class="ml-auto">
        {links.map(link => (
          <li class="inline">
            <a href={link.url}>{link.label}</a>
          </li>
        ))}
    </ul>
  </nav>
</header>
