---
import Header from "@components/Header.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <title>{title}</title>
    <slot name="head" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
