---
import "../styles/global.css";
import DefaultHeadElements from "@components/DefaultHeadElements.astro";
import Header from "@components/Header.astro";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <DefaultHeadElements {title} {description} />
    <slot name="head" />
  </head>
  <body class="text-text bg-background">
    <Header />
    <main class="py-8 px-4 grid justify-center">
      <slot />
    </main>
  </body>
</html>
