---
import "../styles/global.css";
import Header from "@components/Header.astro";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      import { getColorPreference } from "../theme_help";
      if (getColorPreference() === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
    <slot name="head" />
  </head>
  <body class="text-text bg-background">
    <Header />
    <main class="py-8 px-4 grid justify-center">
      <slot />
    </main>
  </body>
</html>
