---
import BaseLayout from "@layouts/BaseLayout.astro";
const { content } = Astro.props;
---

<BaseLayout title={content.title} description={content.description}>
  <div class="mb-2 text-center">
    <h1 class="text-2xl">{content.title}</h1>
    <p class="italic">{content.description}</p>
  </div>
  <article class="prose mx-auto">
    <slot />
  </article>
</BaseLayout>
